<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form | input & Binding</title>
  </head>
  <body>
    <div id="app">
      <h3>Silahkan ketik buku yang diinginkan</h3>
      <input v-model="query" />
      <ul>
        <li v-for="item in result" v-bind:key="item">{{ item }}</li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          query: "",
          books: [
            "Kalkulus Dasar",
            "Fisika Dasar",
            "Aljabar Linear Elementer",
            "Aljabar Abstrak",
            "Algoritma Pemrograman",
          ],
          isSearching: false,
          result: [],
        },
        watch: {
          query: function () {
            var vm = this;
            this.isSearching = true;
            vm.result = vm.books.filter(function (item) {
              return item.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1;
            });
          },
        },
      });
    </script>
  </body>
</html>
